Repository CaddyDz/KingBoosting, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CS, dependencies, javascript, Localization, database, UI, admin, config, repo

.github/labeler.yml:

tests:
  - tests/**/*Test.php
  - ./phpunit.xml

CS:
  - ./.editorconfig
  - ./.php_cs

dependencies:
  - ./composer.*
  - ./package*.json

javascript:
  - .js
  - .vue

Localization: resources/lang/*

database: database/*

UI: resources/views/*

admin: app/Nova/*

config:
  - config/*
  - .env.example

# Add 'repo' label to files that affect only the GitHub Repository
repo:
  - .gitignore
  - .gitattribute
  - .github/*
  - ./README.md

Unmark order back to progress by admin
  app/Nova/Actions/MarkOrderProgress.php
  app/Nova/Order.php
Labels: admin

Audit log
  .env.example
  app/Console/Kernel.php
  app/Models/Order.php
  app/Providers/NovaServiceProvider.php
  composer.json
  composer.lock
  config/activitylog.php
  database/migrations/2021_02_10_065744_create_activity_log_table.php
Labels: dependencies, config

Label "mark order back to progress" as "Continue Order"
  app/Nova/Actions/MarkOrderProgress.php
Labels: none

Continue order only if completed
  app/Nova/Order.php
Labels: admin

Log actions in order details
  app/Models/Order.php
Labels: none

Fix chat height
  nova-components/NovaChat/dist/css/tool.css
  nova-components/NovaChat/resources/sass/tool.scss
Labels: none

Fix styling
  app/Models/Order.php
Labels: none

Convert indentation to tabs
  resources/lang/vendor/nova/en.json
Labels: none

Show pending order to all boosters
  app/Nova/Order.php
Labels: admin

Assign booster to self when locking order
  app/Listeners/LockOrder.php
Labels: none

If order isn't pending, only assigned booster, owner client and admin view it
  app/Policies/OrderPolicy.php
Labels: none

Authorize booster to mark order as complete
  app/Nova/Order.php
Labels: admin

Authorize booster to release order
  app/Nova/Order.php
Labels: admin

Hide order price from client
  app/Nova/Order.php
Labels: admin

Added inverted logo for dashboard login
  public/img/logo.png
  resources/views/vendor/nova/auth/partials/logo.blade.php
Labels: none

Authorize client & admin to edit order login details
  app/Nova/Order.php
Labels: admin

Added roles & permissions to admin panel
  app/Providers/NovaServiceProvider.php
Labels: none

Added permissions middleware to nova service provider
  config/nova.php
Labels: config

Can mark order as paid regardless of status
  app/Nova/Order.php
Labels: admin

Roles and permissions enhanced
  app/Nova/User.php
  app/Providers/NovaServiceProvider.php
  database/seeders/PermissionSeeder.php
  database/seeders/RoleSeeder.php
  database/seeders/data/Permissions.php
Labels: admin

Fix styling
  app/Nova/User.php
  app/Providers/NovaServiceProvider.php
Labels: admin

Work In Progress
  app/Nova/User.php
  app/Providers/NovaServiceProvider.php
  composer.json
  composer.lock
  database/data/Permissions.php
  database/seeders/PermissionSeeder.php
Labels: dependencies, admin

Fix styling
  database/seeders/PermissionSeeder.php
Labels: none

Deleted old theme
  resources/css/old.css
Labels: none

Fixed nothing clickable bug
  resources/css/theme.css
Labels: none

Show chat even with no booster selected in order
  app/Nova/Order.php
Labels: admin

Formatting
  nova-components/NovaChat/dist/css/tool.css
  nova-components/NovaChat/dist/mix-manifest.json
Labels: none

New notification system & design
  app/Models/User.php
  app/Notifications/CustomNotification.php
  app/Notifications/OrderPlaced.php
  app/Providers/NovaServiceProvider.php
  composer.json
  composer.lock
  resources/views/vendor/nova/layout.blade.php
  routes/channels.php
Labels: dependencies

Make booster optional in order edit
  app/Nova/Order.php
Labels: admin

Type hinting
  database/seeders/OrderSeeder.php
Labels: none

Use tags instead of key value pairs
  app/Nova/Order.php
Labels: admin

Fixed continue order authorization
  app/Nova/Actions/CloseOrder.php
  app/Nova/Actions/ContinueOrder.php
  app/Nova/Order.php
Labels: admin

Fix styling
  app/Nova/Order.php
Labels: admin

Order can only be continued if not paid
  app/Nova/Order.php
Labels: admin

Admin can continue order no matter what the status
  app/Nova/Order.php
Labels: admin

Specify fpm service to reload
  deploy.sh
Labels: none

Removed the abiility to release order after its marked as complete or paid, only be able to release order when its in "progress" or "paused"
  app/Nova/Order.php
Labels: admin

Can only assign order to boosters
  app/Nova/Order.php
Labels: admin

Can only pause order when client owns it or is a moderator & status is either pending or progress, otherwise is just an admin
  app/Nova/Order.php
Labels: admin

Added a dashboard for Stripe & link order to transaction
  .env.example
  app/Http/Controllers/OrdersController.php
  app/Nova/Order.php
  app/Providers/NovaServiceProvider.php
  composer.json
  composer.lock
  config/services.php
  database/migrations/2020_11_17_215247_create_orders_table.php
Labels: dependencies, admin, config
