Repository CaddyDz/KingBoosting, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CS, dependencies, javascript, Localization, database, UI, admin, config, repo

.github/labeler.yml:

tests:
  - tests/**/*Test.php
  - ./phpunit.xml

CS:
  - ./.editorconfig
  - ./.php_cs

dependencies:
  - ./composer.*
  - ./package*.json

javascript:
  - .js
  - .vue

Localization: resources/lang/*

database: database/*

UI: resources/views/*

admin: app/Nova/*

config:
  - config/*
  - .env.example

# Add 'repo' label to files that affect only the GitHub Repository
repo:
  - .gitignore
  - .gitattribute
  - .github/*
  - ./README.md

Updated composer dependencies
  composer.lock
Labels: dependencies

Require node 14 for frontend
  frontend/package.json
Labels: none

Updated dependencies
  composer.lock
  frontend/package.json
Labels: dependencies

Updated dependencies
  composer.json
  composer.lock
Labels: dependencies

Fixing CI
  .github/dependabot.yml
  .github/workflows/analyze.yml
  .github/workflows/label-pr.yml
  .github/workflows/style.yml
  .github/workflows/test.yml
  .github/workflows/todo.yml
  .gitignore
  .php-cs-fixer.php
  .php_cs
  composer.json
  composer.lock
Labels: CS, dependencies, repo

Fix styling
  app/Http/Controllers/CheckoutController.php
  app/Models/User.php
  app/Nova/Actions/AssignOrder.php
  app/Nova/Application.php
  app/Nova/Game.php
  app/Nova/Payout.php
  app/Nova/Server.php
  config/logging.php
Labels: admin, config

Remove static analysis workflow
  .github/workflows/analyze.yml
Labels: none

Fixing CI (#433)
  .github/dependabot.yml
  .github/workflows/label-pr.yml
  .github/workflows/laravel.yml
  .github/workflows/style.yml
  .github/workflows/test.yml
  .github/workflows/todo.yml
  .gitignore
  .php-cs-fixer.php
  .php_cs
  app/Http/Controllers/CheckoutController.php
  app/Models/User.php
  app/Nova/Actions/AssignOrder.php
  app/Nova/Application.php
  app/Nova/Game.php
  app/Nova/Payout.php
  app/Nova/Server.php
  composer.json
  composer.lock
  config/logging.php
Labels: CS, dependencies, admin, config, repo

Added new badges
  README.md
Labels: repo

Added new badges (#435)
  README.md
Labels: repo

Updated & locked dependencies
  composer.lock
  frontend/.gitignore
  frontend/package-lock.json
Labels: dependencies

Updated & locked dependencies (#445)
  composer.lock
  frontend/.gitignore
  frontend/package-lock.json
Labels: dependencies

Fixes to the UI
  app/Providers/NovaServiceProvider.php
  resources/css/theme.css
  resources/js/redirect.js
  resources/views/vendor/nova/layout.blade.php
  resources/views/vendor/nova/partials/logo.blade.php
Labels: none

Fixes to the UI (#446)
  app/Providers/NovaServiceProvider.php
  resources/css/theme.css
  resources/js/redirect.js
  resources/views/vendor/nova/layout.blade.php
  resources/views/vendor/nova/partials/logo.blade.php
Labels: none

Fixed frontend deployment
  frontend/deploy.sh
  frontend/nginx.conf
  frontend/nuxt.config.js
Labels: none

Require Node 14
  README.md
Labels: repo

Fixed frontend deployment (#458)
  README.md
  frontend/deploy.sh
  frontend/nginx.conf
  frontend/nuxt.config.js
Labels: repo

Added Frankfurt server
  app/Http/Requests/OrderRequest.php
  database/seeders/ServerSeeder.php
  frontend/assets/js/servers.js
Labels: none

Added Frankfurt server (#459)
  app/Http/Requests/OrderRequest.php
  database/seeders/ServerSeeder.php
  frontend/assets/js/servers.js
Labels: none

Make CTA clickable
  frontend/components/Games.vue
  frontend/pages/index.vue
Labels: none

Make CTA clickable (#460)
  frontend/components/Games.vue
  frontend/pages/index.vue
Labels: none

Cleanup
  frontend/.env.example
  frontend/components/layout/AppBarComponent.vue
  frontend/layouts/default.vue
  frontend/vuetify.options.js
Labels: none

Cleanup (#464)
  frontend/.env.example
  frontend/components/layout/AppBarComponent.vue
  frontend/layouts/default.vue
  frontend/vuetify.options.js
Labels: none

Cleanup contact page
  frontend/pages/Contact.vue
Labels: none

Cleanup contact page (#465)
  frontend/pages/Contact.vue
Labels: none

Changed font
  frontend/assets/variables.scss
  frontend/components/layout/AppBarComponent.vue
  frontend/components/layout/TopBar.vue
  frontend/config/seo.js
  frontend/layouts/default.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/main.css
  frontend/static/fonts/evogria/Evogria Italic.woff
  frontend/static/fonts/evogria/Evogria.woff
  frontend/static/fonts/evogria/style.css
  public/fonts/evogria/Evogria Italic.woff
  public/fonts/evogria/Evogria.woff
  public/fonts/evogria/style.css
  resources/css/theme.css
  resources/views/vendor/nova/layout.blade.php
Labels: none

Changed font (#467)
  frontend/assets/variables.scss
  frontend/components/layout/AppBarComponent.vue
  frontend/components/layout/TopBar.vue
  frontend/config/seo.js
  frontend/layouts/default.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/main.css
  frontend/static/fonts/evogria/Evogria Italic.woff
  frontend/static/fonts/evogria/Evogria.woff
  frontend/static/fonts/evogria/style.css
  public/fonts/evogria/Evogria Italic.woff
  public/fonts/evogria/Evogria.woff
  public/fonts/evogria/style.css
  resources/css/theme.css
  resources/views/vendor/nova/layout.blade.php
Labels: none

Style fixes
  frontend/components/CustomersVoice.vue
  frontend/components/Features.vue
  frontend/components/Games.vue
  frontend/components/HowItWorks.vue
  frontend/components/WhyUs.vue
  frontend/components/layout/AppBarComponent.vue
  frontend/pages/index.vue
  frontend/plugins/particles.js
  frontend/static/css/main.css
Labels: none

Style fixes (#468)
  frontend/components/CustomersVoice.vue
  frontend/components/Features.vue
  frontend/components/Games.vue
  frontend/components/HowItWorks.vue
  frontend/components/WhyUs.vue
  frontend/components/layout/AppBarComponent.vue
  frontend/pages/index.vue
  frontend/plugins/particles.js
  frontend/static/css/main.css
Labels: none

Contact form
  app/Http/Controllers/ContactController.php
  app/Http/Requests/ContactRequest.php
  app/Mail/ContactMail.php
  deploy.sh
  frontend/components/NotificationComponent.vue
  frontend/layouts/error.vue
  frontend/pages/Contact.vue
  frontend/plugins/axios.js
  resources/views/emails/contact.blade.php
  routes/api.php
Labels: none

Fix styling
  app/Http/Requests/ContactRequest.php
Labels: none

Contact form (#469)
  app/Http/Controllers/ContactController.php
  app/Http/Requests/ContactRequest.php
  app/Mail/ContactMail.php
  deploy.sh
  frontend/components/NotificationComponent.vue
  frontend/layouts/error.vue
  frontend/pages/Contact.vue
  frontend/plugins/axios.js
  resources/views/emails/contact.blade.php
  routes/api.php
Labels: none

Better IDE helper run
  composer.json
Labels: dependencies

Better IDE helper run (#554)
  composer.json
Labels: dependencies

Update .php-cs-fixer.php
  .php-cs-fixer.php
Labels: none

Ignore PHPStorm idea folder
  .gitignore
Labels: repo

Fix tests
  tests/Feature/ContactTest.php
Labels: tests

Fixes CS fixer
  .php-cs-fixer.php
Labels: none

Fix styling
  config/nova.php
  nova-components/NovaChat/routes/api.php
  nova-components/NovaChat/src/NovaChat.php
  nova-components/NovaChat/src/ToolServiceProvider.php
Labels: config

Work In Progress
  README.md
Labels: repo
