Repository CaddyDz/KingBoosting, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CS, dependencies, javascript, Localization, database, UI, admin, config, repo

.github/labeler.yml:

tests:
  - tests/**/*Test.php
  - ./phpunit.xml

CS:
  - ./.editorconfig
  - ./.php_cs

dependencies:
  - ./composer.*
  - ./package*.json

javascript:
  - .js
  - .vue

Localization: resources/lang/*

database: database/*

UI: resources/views/*

admin: app/Nova/*

config:
  - config/*
  - .env.example

# Add 'repo' label to files that affect only the GitHub Repository
repo:
  - .gitignore
  - .gitattribute
  - .github/*
  - ./README.md

Fix styling
  app/Nova/Order.php
Labels: admin

Only Admin can set roles & permissions for users
  app/Nova/User.php
Labels: admin

Attach games to boosters
  app/Models/Game.php
  app/Models/User.php
  app/Nova/User.php
  app/Policies/UserPolicy.php
  public/vendor/nova/app.css
  public/vendor/nova/app.js
  public/vendor/nova/mix-manifest.json
  public/vendor/nova/vendor.js
Labels: admin

Removed unused function
  app/Providers/AppServiceProvider.php
Labels: none

Ignore generated API docs
  .gitignore
Labels: repo

Fix styling
  app/Policies/UserPolicy.php
Labels: none

Added command to scaffold an entity
  app/Console/Commands/Make.php
Labels: none

Added server entity to be attached by admin to boosters
  app/Http/Controllers/ServerController.php
  app/Http/Requests/CreateServerRequest.php
  app/Http/Requests/DeleteServerRequest.php
  app/Http/Requests/UpdateServerRequest.php
  app/Http/Resources/ServerResource.php
  app/Models/Server.php
  app/Models/User.php
  app/Nova/Server.php
  app/Nova/User.php
  app/Observers/ServerObserver.php
  app/Policies/ServerPolicy.php
  app/Policies/UserPolicy.php
  database/factories/ServerFactory.php
  database/migrations/2021_02_15_192255_create_servers_table.php
  database/migrations/2021_02_15_192627_create_booster_server_table.php
  database/seeders/DatabaseSeeder.php
  database/seeders/ServerSeeder.php
  tests/Feature/ServerTest.php
Labels: tests, admin

Fix styling
  app/Nova/Server.php
  database/migrations/2021_02_15_192627_create_booster_server_table.php
Labels: admin

Round the seeded order price to 30$
  database/seeders/OrderSeeder.php
Labels: none

Rename employee to booster
  app/Models/Gift.php
  app/Nova/Gift.php
Labels: admin

Can only close order if not already closed
  app/Nova/Order.php
Labels: admin

Only admin can view admin group on sidebar
  app/Providers/NovaServiceProvider.php
Labels: none

Added orders in profile payouts tab
  app/Nova/Payout.php
  app/Nova/User.php
  composer.json
  composer.lock
Labels: dependencies, admin

Hide order from payout if it's not completed
  app/Nova/Payout.php
Labels: admin

Booster visibility & admin permission to change
  app/Nova/Actions/AllowChangingVisibility.php
  app/Nova/Actions/DisallowChangingVisibility.php
  app/Nova/User.php
  database/data/Permissions.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/seeders/PermissionSeeder.php
Labels: admin

Only admin can view stripe dashboard & order transaction details
  app/Nova/Order.php
  app/Providers/NovaServiceProvider.php
Labels: admin

Fixed changing visibility permission bug
  app/Http/Controllers/BoostersController.php
  app/Nova/User.php
Labels: admin

Formatting
  app/Nova/Payout.php
Labels: admin

Show price on payout details
  app/Nova/Payout.php
Labels: admin

Register payouts relationship to booster
  app/Models/User.php
Labels: none

Clients don't have payouts
  app/Models/User.php
Labels: none

Formatting
  app/Nova/Order.php
Labels: admin

Assign fines to boosters
  app/Models/User.php
  app/Nova/Fine.php
  app/Nova/Payout.php
  app/Nova/Resource.php
  app/Nova/User.php
  app/Policies/FinePolicy.php
Labels: admin

Fix styling
  app/Nova/Resource.php
Labels: admin

Transferred nova to client license
  composer.json
  composer.lock
Labels: dependencies

Authenticate dependencies
  .github/workflows/laravel.yml
Labels: none

Fixed Server test
  composer.json
  tests/Feature/ServerTest.php
  tests/TestCase.php
  tests/helpers/functions.php
Labels: tests, dependencies

Anyone but members can release order regardless of status
  app/Nova/Actions/ReleaseOrder.php
  app/Nova/Order.php
Labels: admin

Load user list
  app/Models/User.php
Labels: none

Link back to frontend
  .env.example
  config/nova.php
  resources/views/vendor/nova/layout.blade.php
  resources/views/vendor/nova/resources/navigation.blade.php
Labels: config

Updated environment variables
  .env.example
Labels: config

Redirect to fronted post logout
  app/Http/Controllers/Nova/LoginController.php
Labels: none

Work In Progress
  app/Http/Requests/OrderRequest.php
Labels: none

Removed summoner min character validation
  app/Http/Requests/ApplicationRequest.php
Labels: none

Prevent only boosters from pausing orders
  app/Nova/Order.php
Labels: admin

Added demo account
  composer.json
  composer.lock
  resources/views/vendor/nova/auth/login.blade.php
  resources/views/vendor/nova/layout.blade.php
Labels: dependencies

Work In Progress
  .env.example
  frontend/.vscode/tasks.json
Labels: config

Work In Progress
  composer.json
  composer.lock
Labels: dependencies

Work In Progress
  composer.lock
Labels: dependencies
