Repository CaddyDz/KingBoosting, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CS, dependencies, javascript, Localization, database, UI, admin, config, repo

Require exactly PHP 8.0
  README.md
  composer.json
  composer.lock
Labels: dependencies, repo

Require exactly PHP 8.0 (#599)
  README.md
  composer.json
  composer.lock
Labels: dependencies, repo

Removed duplicate action runs
  .github/workflows/style.yml
  .github/workflows/test.yml
  .github/workflows/todo.yml
Labels: none

Removed duplicate action runs (#600)
  .github/workflows/style.yml
  .github/workflows/test.yml
  .github/workflows/todo.yml
Labels: none

[ImgBot] Optimize images
  frontend/static/icon.png
  frontend/static/img/404.svg
  frontend/static/img/backgrounds/active-game-bg.png
  frontend/static/img/backgrounds/order.jpg
  frontend/static/img/cred-cards.png
  frontend/static/img/divisions/emerald.png
  frontend/static/img/games/account_market.png
  frontend/static/img/games/coaching.png
  frontend/static/img/games/lol-boosting.png
  frontend/static/img/games/lor-boosting.png
  frontend/static/img/games/tft-boosting.png
  frontend/static/img/games/unranked_smurf.png
  frontend/static/img/games/valorant-boosting.png
  frontend/static/img/games/wild-rift-boosting.png
  frontend/static/img/indexAssets/cozmicHero.png
  frontend/static/img/logo/logo.png
  frontend/static/img/logo/nav.png
  frontend/static/img/services/account-leveling.png
  frontend/static/img/services/champion-mastery.png
  frontend/static/img/services/clash-boosting.png
  frontend/static/img/services/division-boosting.png
  frontend/static/img/services/duoqueue-boosting.png
  frontend/static/img/services/normal-matches.png
  frontend/static/img/services/placement-boosting.png
  frontend/static/img/services/ranked-wins-boosting.png
  public/img/240x50px.png
  public/img/favicon.png
  public/img/logo.png
Labels: none

Fix on styling GH action workflow
  .github/workflows/style.yml
Labels: none

Revert "Fix on styling GH action workflow"
  .github/workflows/style.yml
Labels: none

Updated actions versions
  .github/workflows/style.yml
Labels: none

Again
  .github/workflows/style.yml
Labels: none

Fix styling
  app/Events/SendMessage.php
  app/Nova/User.php
  app/Policies/UserPolicy.php
  tests/Feature/ServerTest.php
  tests/Feature/UserTest.php
Labels: tests, admin

.github/labeler.yml:

tests:
  - tests/**/*Test.php
  - ./phpunit.xml

CS:
  - ./.editorconfig
  - ./.php_cs

dependencies:
  - ./composer.*
  - ./package*.json

javascript:
  - .js
  - .vue

Localization: resources/lang/*

database: database/*

UI: resources/views/*

admin: app/Nova/*

config:
  - config/*
  - .env.example

# Add 'repo' label to files that affect only the GitHub Repository
repo:
  - .gitignore
  - .gitattribute
  - .github/*
  - ./README.md
