Repository CaddyDz/KingBoosting, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, CS, dependencies, javascript, Localization, database, UI, admin, config, repo

.github/labeler.yml:

tests:
  - tests/**/*Test.php
  - ./phpunit.xml

CS:
  - ./.editorconfig
  - ./.php_cs

dependencies:
  - ./composer.*
  - ./package*.json

javascript:
  - .js
  - .vue

Localization: resources/lang/*

database: database/*

UI: resources/views/*

admin: app/Nova/*

config:
  - config/*
  - .env.example

# Add 'repo' label to files that affect only the GitHub Repository
repo:
  - .gitignore
  - .gitattribute
  - .github/*
  - ./README.md

Fix styling
  app/Nova/Coupon.php
  app/Nova/Order.php
  routes/web.php
Labels: admin

Cast spaces & arrow functions
  .php_cs
  app/Nova/Coupon.php
  app/Nova/Order.php
  app/Providers/RouteServiceProvider.php
  config/sentry.php
  routes/channels.php
  routes/web.php
Labels: CS, admin, config

Moved order lock from action to index button
  app/Listeners/LockOrder.php
  app/Nova/Actions/LockOrder.php
  app/Nova/Order.php
  app/Providers/EventServiceProvider.php
  composer.json
  composer.lock
Labels: dependencies, admin

Updated laravel framework
  composer.json
  composer.lock
Labels: dependencies

Allow client to change riot login name & password
  app/Nova/Order.php
  app/Policies/OrderPolicy.php
Labels: admin

Configure GitHub actions to skip ci
  .github/workflows/label.yml
  .github/workflows/laravel.yml
  .github/workflows/php-cs-fixer.yml
Labels: none

[skip ci] Added badges & description
  README.md
Labels: repo

Updated composer dependencies
  composer.lock
Labels: dependencies

Disable scout on tests
  phpunit.xml
Labels: tests

One liner traits import
  app/Mail/ContactMail.php
Labels: none

Site config
  .env.example
  config/site.php
Labels: config

Receipt email
  app/Http/Controllers/OrdersController.php
  app/Mail/Receipt.php
  app/Nova/User.php
  resources/css/theme.css
  resources/views/emails/receipt.blade.php
  routes/api.php
  routes/dev.php
  routes/web.php
Labels: admin

Fix styling
  app/Http/Controllers/OrdersController.php
  app/Mail/Receipt.php
Labels: none

Set order status to in progress when booster is selected
  app/Http/Controllers/OrdersController.php
Labels: none

Only show lock order button when status is awaiting booster
  app/Nova/Order.php
Labels: admin

Inline edit login details in order
  app/Nova/Actions/EditOrderLoginDetails.php
  app/Nova/Order.php
Labels: admin

Fixed orders index role based filtering
  app/Nova/Order.php
Labels: admin

Order share decimal default 50%
  app/Nova/Order.php
  app/Policies/OrderPolicy.php
  database/migrations/2020_11_17_215247_create_orders_table.php
Labels: admin

Localize edit account information action button for client
  app/Nova/Actions/EditOrderLoginDetails.php
  app/Nova/Order.php
Labels: admin

Pause order action button for the client
  app/Nova/Actions/PauseOrder.php
  app/Nova/Order.php
Labels: admin

Can only pause order if in progress
  app/Nova/Order.php
Labels: admin

Filter orders by service
  app/Nova/Filters/OrderServiceFilter.php
  app/Nova/Order.php
Labels: admin

Localized services in order filter
  app/Nova/Filters/OrderServiceFilter.php
Labels: none

Set order status to progress if booster is selected upon creation
  app/Http/Controllers/OrdersController.php
  app/Observers/OrderObserver.php
Labels: none

Added specific champion to order
  app/Nova/Order.php
  database/migrations/2020_11_17_215247_create_orders_table.php
Labels: admin

Added command to delete temporary files
  app/Console/Commands/Clean.php
  app/Console/Kernel.php
Labels: none

Show key value pairs field only when editing order
  app/Nova/Order.php
Labels: admin

Show actions on table row & order details
  app/Nova/Order.php
Labels: admin

Formatting
  app/Nova/Filters/OrderFilter.php
Labels: none

Mark order as paid
  app/Http/Controllers/Nova/LoginController.php
  app/Nova/Actions/MarkOrderAsPaid.php
  app/Nova/Order.php
  database/factories/OrderFactory.php
  database/migrations/2020_11_17_215247_create_orders_table.php
Labels: admin

Fix styling
  app/Nova/Order.php
Labels: admin

Auto kick booster from order when status changes to pending
  app/Observers/OrderObserver.php
Labels: none

Show calculated price to booster after share
  app/Nova/Order.php
Labels: admin

Let admin pause order and insert login info
  app/Nova/Actions/EditOrderLoginDetails.php
  app/Nova/Order.php
Labels: admin

Mark order as completed
  app/Nova/Actions/MarkOrderAsCompleted.php
  app/Nova/Order.php
Labels: admin

Release order by admin & booster
  app/Nova/Actions/ReleaseOrder.php
  app/Nova/Order.php
Labels: admin

Show all actions on table row
  app/Nova/Order.php
Labels: admin

Assign order to booster by admin
  app/Nova/Actions/AssignOrder.php
  app/Nova/Order.php
Labels: admin

Hide order status select from list
  app/Nova/Order.php
Labels: admin

Convert indentation to tabs
  nova-components/NovaChat/dist/mix-manifest.json
Labels: none
